@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <p>This Page is under construction as of @ViewData["Timestamp"]</p>
</div>
